version: "3.9"

services:
  postgres:
    image: postgres
    container_name: auth_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Password_123
      POSTGRES_DB: booklog
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  auth-service:
    build: .
    container_name: auth_service
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      JWT_SECRET: supersecret
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: Password_123
      DB_NAME: booklog

volumes:
  db_data:
